
/*https://www.schemecolor.com/dark-gunmetal-and-blue.php*/

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

.background{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.05turn,#f72585,#7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585,#7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585, #7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585, #7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585 );
  animation: a 15s ease infinite;
  background-size: 400%  400%;
}

@keyframes a {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

p {
  color:#EDE4DA;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.center {
  background-color: #171C1F;
  border-width: 0.2rem;
  border-color: #5E96D6;
  border-style: solid;
  width: calc(100% - 3rem);
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem #111519a2;
  min-height: calc(100% - 3rem);;
}

.center-container {
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  width: 100%;
  height: 100%;
  position: fixed;  
  overflow-y: scroll;
}

.content-container {
	margin: 2rem;
}

.title {
  font-size: 2rem;
}

.content-container * {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
}


.effect-select {
  border-radius: 1rem;
  border-style: solid;
  color: #EDE4DA;
  background-color: #344378;
  font-weight: 900;
  border-color: #5E96D6;
  border-width: 0.2rem;
}


.slider {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 1rem;
  background: #5E96D6;
  height: 0.3rem;
  border-style: solid;
  border-width:0.2rem;
  border-color: #344378;
}

input[type="range"]::-moz-range-track {
  border-radius: 1rem;
  background: #5E96D6;
  height: 0.3rem;
  border-style: solid;
  border-width:0.2rem;
  border-color: #344378;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: #5cd5eb;
  height: 1.3rem;
  width: 0.7rem;     
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: #5cd5eb;
  height: 1.3rem;
  width: 0.7rem;    
}

.slider:hover {
  opacity: 1;
}

.slider-bar {
  display: flex;
  flex-wrap: wrap;
  min-width: 15rem;
  width: 100%;
}

.color-input {
  justify-self: center;
}