
/*https://www.schemecolor.com/dark-gunmetal-and-blue.php*/

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

.background{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.1turn,#f72585,#7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585,#7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585, #7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585, #7209b7,#3a0ca3,#4361ee,#4cc9f0, #f72585 );
  animation: a 30s ease infinite;
  background-size: 400%  400%;
}

@keyframes a {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

p {
  color:#EDE4DA;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.center {
  background-color: #171C1F;
  border-width: 0.2rem;
  border-color: #5E96D6;
  border-style: solid;
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border-radius: 2rem;
  box-shadow: 10px 10px 10px #111519a2;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
}

.content-container {
	margin: 2rem;
}

.title {
  font-size: x-large;
}

.content-container * {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
}


.effect-select {
  border-radius: 1rem;
  border-style: solid;
  color: #EDE4DA;
  background-color: #344378;
  font-weight: 900;
  border-color: #5E96D6;
  border-width: 0.2rem;
}

.select-items {
  background-color: #06111B;
}

.slider {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slidecontainer {
  display: inline-block;
}


.slider-bar {
  display: flex;
  flex-wrap: wrap;
  min-width: 15rem;
  width: 100%;
}

